# کتابخانه اصلی برای ارتباط با تلگرام
python-telegram-bot

# مدیریت متغیرهای محیطی
python-dotenv

# برای پردازش داده‌ها و ساخت فایل اکسل گزارش
pandas
openpyxl

# درایور دیتابیس (برای دیتابیس پستگرس Render)
psycopg2-binary

# برای دانلود فایل‌های ویس
requests

# کتابخانه‌های پردازش صدا (تبدیل ویس به متن)
SpeechRecognition
pydub

