pyTelegramBotAPI

# ۲. برای تبدیل ویس (.oga) و پردازش گفتار
pydub
SpeechRecognition

# ۳. برای نمودارها و رندر تصاویر (به جای numpy/pandas)
matplotlib
Pillow

# ۴. ابزارهای کمکی
requests 
